body {
	background-image: url('img/polonez_car.png');
	font-size: 2.2em;
	font-family: 'beer money';
	color: purple;
	background-color: #383838;
}

@font-face {
    font-family: 'beer money'; /* Имя шрифта */
    src: url('beer money.ttf'); /* Путь к файлу со шрифтом */
   }

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 1em;
}

li {
    list-style-type: none;
	margin: 0.3em auto;
   }

.list-1 {
	margin: auto 65% auto 35%;
	width: 6.25em;
}


a {
	text-decoration: none;
	color:inherit;
}

a:hover {
	color:red;
}

li:hover {
	transform: scale(1.2);
	color:red;
	text-shadow: 3px 5px 6px black;
}

li:hover::after {
	content: '>>';
}

address {
	font-family: "Times New Roman";
	font-size: 0.6em;
	text-align: right;
	margin-right: 1em;
	margin-top: 1em;
}


@media (max-width: 768px) {
	address{
		margin-top: 3.5em;
	}

}
